.home_content{max-width:508px}
.home_area{padding:10px 0 40px;background-size:cover;background-repeat:no-repeat;background-position:center center}
.home_area h1{font-weight:700;font-size:56px;line-height:140%;color:#181d20}
.home_area h1 span{color:var(--theme-color)}
.home_area p{font-size:18px;margin-top:30px}
.button{display:inline-block;border-radius:7px;border:none;color:#fff;font-weight:600;font-size:16px;background-color:var(--theme-color);padding:13px 40px;text-align:center}
.button:hover{background-color:#126daf;color:#fff}
.search_group{position:relative;margin-top:40px}
.search_group input{background:#fff;border-radius:14px;border:none;font-size:14px;line-height:1.5;color:#525658;height:64px;width:100%;padding:0 56px;background-image:url(/v2/img/search.svg);background-position:22px center;background-size:19px;background-repeat:no-repeat;-webkit-box-shadow:0 5px 10px rgba(26,143,227,.1);box-shadow:0 5px 10px rgba(26,143,227,.1)}
.search_group .button{position:absolute;right:8px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-box-shadow:0 5px 10px rgba(26,143,227,.1);box-shadow:0 5px 10px rgba(26,143,227,.1)}
.tag_box{padding-top:14px}
.tag_box a{background:#c8e4f8;border-radius:6px;display:inline-block;padding:6px 12px;color:var(--theme-color);font-size:12px;line-height:1.5;margin-left:6px;margin-top:10px}
.tag_box a:hover{background-color:var(--theme-color);color:#fff}
.tag_box span{display:inline-block;font-weight:500;font-size:14px;line-height:1.5;color:#181d20;margin-top:10px}
.sub_title{font-weight:600;font-size:16px;line-height:140%;color:var(--theme-color)}
.title{font-weight:700;font-size:48px;line-height:130%;color:#181d20;padding-top:8px}
.step_box h4{font-weight:600;font-size:24px;line-height:130%;color:#181d20}
.step_box p{max-width:347px}
.blue{color:var(--theme-color)}
.tools_box{background:#fff;border-radius:12px;padding:24px;overflow:hidden;height:100%}
.icon_box{width:56px;height:56px;border-radius:8px;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:5px}
.tools_box h4{font-weight:600;font-size:20px;color:#181d20;margin-top:16px;margin-bottom:8px;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden}
.tools_box p{font-size:14px}
.icon_box.v1{background:#fbe6e5}
.icon_box.v2{background:#fef9e2}
.icon_box.v3{background:#ffede0}
.icon_box.v4{background:#e3fcfd}
.icon_box.v5{background:#e9e6f9}
.icon_box.v6{background:#e2f0fe}
.icon_box.v7{background:#ecfae5}
.icon_box.v8{background:#ffe0e6}
.icon_box.v9{background:#ffe6e0}
.icon_box.v10{background:#e2f6fd}
.icon_box.v11{background:#e7e3fd}
.icon_box.v12{background:#fbe5fb}
.icon_box.v13{background:#fbe5e4}
.icon_box.v14{background:#e2f0fd}
.icon_box.v15{background:#fff5e0}
.small_gutter{margin-left:-10px;margin-right:-10px}
.small_gutter>div{padding-right:10px;padding-left:10px}
.tools_area .button{padding:17px 48px;-webkit-box-shadow:0 5px 10px rgba(26,143,227,.1);box-shadow:0 5px 10px rgba(26,143,227,.1)}
.page_shadow{position:absolute;left:0;top:0;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;z-index:-1}
.switch_btn button{width:100%;border:none;background:#1a8fe3;border-radius:14px;font-weight:600;font-size:16px;line-height:140%;text-align:center;letter-spacing:.005em;color:#fff;padding:17px;margin-top:16px}
.range_right_content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.color_wrapper{padding-top:40px;padding-bottom:70px}
.color_main_wrapper{background-color:#fff;-webkit-box-shadow:3px 15px 35px rgba(45,42,60,.03);box-shadow:3px 15px 35px rgba(45,42,60,.03);border-radius:12px;padding:24px}
.color_box_wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-top:16px}
.color_heading h4{font-weight:600;font-size:24px;line-height:1.2;color:#2d2a3c}
.color_box{height:40px;width:40px;border-radius:50%}
.color_box1{background-color:#f25e4c}
.color_box2{background-color:#4c3f91}
.color_box3{background-color:#7f2ccb}
.color_box4{background-color:#ce8147}
.color_box5{background-color:#414361}
.color_box6{background-color:#36494e}
.color_box7{background-color:#606d5d}
.color_box8{background-color:#70695a}
.color_box9{background-color:#5f5566}
.color_box10{background-color:#4c3549}
.color_box11{background-color:#895b1e}
.color_box12{background-color:#994636}
.color_box13{background-color:#333}
.color_box14{background-color:#80a1d4}
.color_box15{background-color:#468189}
.color_box16{background:-o-radial-gradient(50% 50%,50% 50%,rgba(198,255,221,.44) 44.27%,#fbd786 70.31%,#f25e4c 94.27%),#767522;background:radial-gradient(50% 50% at 50% 50%,rgba(198,255,221,.44) 44.27%,#fbd786 70.31%,#f25e4c 94.27%),#767522}
.color_box17{background:-o-radial-gradient(50% 50%,50% 50%,#f25f5c 0,#ffe066 50.52%,#247ba0 100%),#9bc4cb;background:radial-gradient(50% 50% at 50% 50%,#f25f5c 0,#ffe066 50.52%,#247ba0 100%),#9bc4cb}
.color_box18{background-color:#7d387d}
.color_box19{background:conic-gradient(from 180deg at 50% 50%,#f8f991 -54.38deg,rgba(61,49,91,.924948) 33.75deg,#444b6e 118.12deg,#708b75 178.12deg,#f8f991 305.62deg,rgba(61,49,91,.924948) 393.75deg),#c4c4c4}
.color_box20{background:conic-gradient(from 180deg at 50% 50%,#0000fd -54.38deg,rgba(128,21,232,.924948) 33.75deg,#28e4ff 118.12deg,rgba(221,17,86,.44) 178.12deg,#0000fd 305.62deg,rgba(128,21,232,.924948) 393.75deg),#c4c4c4}
.color_box21{background:-o-linear-gradient(315deg,#12c2e9 -7%,#c471ed 55.66%,#f7797d 82.23%),#c4c4c4;background:linear-gradient(135deg,#12c2e9 -7%,#c471ed 55.66%,#f7797d 82.23%),#c4c4c4}
.color_box22{background:-webkit-gradient(linear,left top,left bottom,from(#ef2f88),to(#8843f2)),#c4c4c4;background:-o-linear-gradient(top,#ef2f88 0,#8843f2 100%),#c4c4c4;background:linear-gradient(180deg,#ef2f88 0,#8843f2 100%),#c4c4c4}
.color_box23{background:-webkit-gradient(linear,left top,left bottom,from(#b92b27),to(#1565c0)),#c4c4c4;background:-o-linear-gradient(top,#b92b27 0,#1565c0 100%),#c4c4c4;background:linear-gradient(180deg,#b92b27 0,#1565c0 100%),#c4c4c4}
.color_box24{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#8360c3),color-stop(131.53%,#2ebf91)),#c4c4c4;background:-o-linear-gradient(top,#8360c3 -45.13%,#2ebf91 131.53%),#c4c4c4;background:linear-gradient(180deg,#8360c3 -45.13%,#2ebf91 131.53%),#c4c4c4}
.color_box25{background:-o-linear-gradient(225deg,#2980b9 -18.81%,#6dd5fa 43.55%,#fff 109.63%),#c4c4c4;background:linear-gradient(225deg,#2980b9 -18.81%,#6dd5fa 43.55%,#fff 109.63%),#c4c4c4}
.color_box26{background:-webkit-gradient(linear,left bottom,left top,color-stop(13.87%,#f09),color-stop(160.27%,#493240)),#c4c4c4;background:-o-linear-gradient(bottom,#f09 13.87%,#493240 160.27%),#c4c4c4;background:linear-gradient(360deg,#f09 13.87%,#493240 160.27%),#c4c4c4}
.color_box27{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#ffd452),color-stop(131.53%,#2ebf91)),-webkit-gradient(linear,left bottom,left top,color-stop(13.87%,#f09),color-stop(160.27%,#493240)),#c4c4c4;background:-o-linear-gradient(top,#ffd452 -45.13%,#2ebf91 131.53%),-o-linear-gradient(bottom,#f09 13.87%,#493240 160.27%),#c4c4c4;background:linear-gradient(180deg,#ffd452 -45.13%,#2ebf91 131.53%),linear-gradient(360deg,#f09 13.87%,#493240 160.27%),#c4c4c4}
.color_box28{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#654ea3),color-stop(131.53%,#eaafc8)),-webkit-gradient(linear,left bottom,left top,from(#ef744d),to(#ef744d)),#c4c4c4;background:-o-linear-gradient(top,#654ea3 -45.13%,#eaafc8 131.53%),-o-linear-gradient(bottom,#ef744d,#ef744d),#c4c4c4;background:linear-gradient(180deg,#654ea3 -45.13%,#eaafc8 131.53%),linear-gradient(0deg,#ef744d,#ef744d),#c4c4c4}
.color_box29{background:-webkit-gradient(linear,left top,left bottom,color-stop(4.32%,#00b4db),color-stop(121.46%,#0083b0)),#c4c4c4;background:-o-linear-gradient(top,#00b4db 4.32%,#0083b0 121.46%),#c4c4c4;background:linear-gradient(180deg,#00b4db 4.32%,#0083b0 121.46%),#c4c4c4}
.color_box30{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#fffde4),color-stop(131.53%,#005aa7)),#c4c4c4;background:-o-linear-gradient(top,#fffde4 -45.13%,#005aa7 131.53%),#c4c4c4;background:linear-gradient(180deg,#fffde4 -45.13%,#005aa7 131.53%),#c4c4c4}
.color_box31{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#a8c0ff),color-stop(131.53%,#2ebf91)),#c4c4c4;background:-o-linear-gradient(top,#a8c0ff -45.13%,#2ebf91 131.53%),#c4c4c4;background:linear-gradient(180deg,#a8c0ff -45.13%,#2ebf91 131.53%),#c4c4c4}
.color_box32{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#a8c0ff),color-stop(131.53%,#3f2b96)),#c4c4c4;background:-o-linear-gradient(top,#a8c0ff -45.13%,#3f2b96 131.53%),#c4c4c4;background:linear-gradient(180deg,#a8c0ff -45.13%,#3f2b96 131.53%),#c4c4c4}
.color_box33{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#ff5858),color-stop(131.53%,#ffc8c8)),#c4c4c4;background:-o-linear-gradient(top,#ff5858 -45.13%,#ffc8c8 131.53%),#c4c4c4;background:linear-gradient(180deg,#ff5858 -45.13%,#ffc8c8 131.53%),#c4c4c4}
.color_box34{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#f187fb),color-stop(131.53%,#439cfb)),#c4c4c4;background:-o-linear-gradient(top,#f187fb -45.13%,#439cfb 131.53%),#c4c4c4;background:linear-gradient(180deg,#f187fb -45.13%,#439cfb 131.53%),#c4c4c4}
.color_box35{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#6e78ff),color-stop(47.8%,#95f9c3),color-stop(131.53%,#61f4de)),#c4c4c4;background:-o-linear-gradient(top,#6e78ff -45.13%,#95f9c3 47.8%,#61f4de 131.53%),#c4c4c4;background:linear-gradient(180deg,#6e78ff -45.13%,#95f9c3 47.8%,#61f4de 131.53%),#c4c4c4}
.color_box36{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#40e0d0),color-stop(45.96%,#ff8c00),color-stop(131.53%,#ff0080)),-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#a8c0ff),color-stop(131.53%,#2ebf91)),#c4c4c4;background:-o-linear-gradient(top,#40e0d0 -45.13%,#ff8c00 45.96%,#ff0080 131.53%),-o-linear-gradient(top,#a8c0ff -45.13%,#2ebf91 131.53%),#c4c4c4;background:linear-gradient(180deg,#40e0d0 -45.13%,#ff8c00 45.96%,#ff0080 131.53%),linear-gradient(180deg,#a8c0ff -45.13%,#2ebf91 131.53%),#c4c4c4}
.color_box37{background:-webkit-gradient(linear,left top,left bottom,color-stop(-12.51%,#108dc7),color-stop(108.76%,#ef8e38)),-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#a8c0ff),color-stop(131.53%,#3f2b96)),#c4c4c4;background:-o-linear-gradient(top,#108dc7 -12.51%,#ef8e38 108.76%),-o-linear-gradient(top,#a8c0ff -45.13%,#3f2b96 131.53%),#c4c4c4;background:linear-gradient(180deg,#108dc7 -12.51%,#ef8e38 108.76%),linear-gradient(180deg,#a8c0ff -45.13%,#3f2b96 131.53%),#c4c4c4}
.color_box38{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#00b09b),color-stop(131.53%,#96c93d));background:-o-linear-gradient(top,#00b09b -45.13%,#96c93d 131.53%);background:linear-gradient(180deg,#00b09b -45.13%,#96c93d 131.53%)}
.color_box39{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#f6c4ed),color-stop(131.53%,#f1e1c2));background:-o-linear-gradient(top,#f6c4ed -45.13%,#f1e1c2 131.53%);background:linear-gradient(180deg,#f6c4ed -45.13%,#f1e1c2 131.53%)}
.color_box40{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#ed71ad),color-stop(131.53%,#7277f1));background:-o-linear-gradient(top,#ed71ad -45.13%,#7277f1 131.53%);background:linear-gradient(180deg,#ed71ad -45.13%,#7277f1 131.53%)}
.color_box41{background:-webkit-gradient(linear,left top,left bottom,color-stop(-12.51%,#00c3ff),color-stop(108.76%,#ffff1c));background:-o-linear-gradient(top,#00c3ff -12.51%,#ffff1c 108.76%);background:linear-gradient(180deg,#00c3ff -12.51%,#ffff1c 108.76%)}
.color_box42{background:-webkit-gradient(linear,left top,left bottom,color-stop(-12.51%,#be93c5),color-stop(108.76%,#7bc6cc));background:-o-linear-gradient(top,#be93c5 -12.51%,#7bc6cc 108.76%);background:linear-gradient(180deg,#be93c5 -12.51%,#7bc6cc 108.76%)}
.color_box43{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#ffd89b),color-stop(131.53%,#19547b));background:-o-linear-gradient(top,#ffd89b -45.13%,#19547b 131.53%);background:linear-gradient(180deg,#ffd89b -45.13%,#19547b 131.53%)}
.color_box44{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#fceabb),color-stop(131.52%,#f8b500),color-stop(131.53%,#f1e1c2));background:-o-linear-gradient(top,#fceabb -45.13%,#f8b500 131.52%,#f1e1c2 131.53%);background:linear-gradient(180deg,#fceabb -45.13%,#f8b500 131.52%,#f1e1c2 131.53%)}
.color_box45{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#000428),color-stop(131.53%,#004e92));background:-o-linear-gradient(top,#000428 -45.13%,#004e92 131.53%);background:linear-gradient(180deg,#000428 -45.13%,#004e92 131.53%)}
.color_box46{background:-webkit-gradient(linear,left top,left bottom,color-stop(-12.51%,#ff5f6d),color-stop(108.76%,#ffc371));background:-o-linear-gradient(top,#ff5f6d -12.51%,#ffc371 108.76%);background:linear-gradient(180deg,#ff5f6d -12.51%,#ffc371 108.76%)}
.color_box47{background:-webkit-gradient(linear,left top,left bottom,color-stop(-12.51%,#e0eafc),color-stop(108.76%,#cfdef3));background:-o-linear-gradient(top,#e0eafc -12.51%,#cfdef3 108.76%);background:linear-gradient(180deg,#e0eafc -12.51%,#cfdef3 108.76%)}
.color_box48{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#4ca1af),color-stop(131.53%,#c4e0e5));background:-o-linear-gradient(top,#4ca1af -45.13%,#c4e0e5 131.53%);background:linear-gradient(180deg,#4ca1af -45.13%,#c4e0e5 131.53%)}
.color_box49{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#403a3e),color-stop(131.53%,#be5869));background:-o-linear-gradient(top,#403a3e -45.13%,#be5869 131.53%);background:linear-gradient(180deg,#403a3e -45.13%,#be5869 131.53%)}
.color_box50{background:-webkit-gradient(linear,left top,left bottom,color-stop(-45.13%,#5a3f37),color-stop(131.53%,#2c7744));background:-o-linear-gradient(top,#5a3f37 -45.13%,#2c7744 131.53%);background:linear-gradient(180deg,#5a3f37 -45.13%,#2c7744 131.53%)}
.color_btn{padding-top:24px;margin-top:24px;border-top:1px solid #b9b8bc}
.color_btn a{display:inline-block;padding:18px;width:100%;background:-webkit-gradient(linear,left top,left bottom,from(#fc7e81),to(#fc696d));background:-o-linear-gradient(top,#fc7e81 0,#fc696d 100%);background:linear-gradient(180deg,#fc7e81 0,#fc696d 100%);border-radius:12px;text-align:center;font-weight:600;font-size:14px;line-height:1.2;color:#fff}
.color_img_wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
.color_img1{margin-top:0}
.color_img{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%;margin-top:24px;text-align:center}
.color_img img{height:160px;width:160px;border-radius:50%;-o-object-fit:cover;object-fit:cover}
.tools_area{background-color:#eff7fd;padding-top:60px;padding-bottom:60px}
.tools_box{padding:16px}
.tools_box .icon_box{float:left;margin-right:12px;margin-bottom:12px}
.tools_box p{clear:both}
@media (min-width:992px){
.tools_area{padding-top:100px;padding-bottom:80px}
.tools_area .col-lg-2{flex:0 0 20%;max-width:20%}
}
.tools_box__small{padding:8px}
.tools_box__small .icon_box{margin-right:12px;margin-bottom:0;width:48px;height:48px;padding:12px}
.tools_box__small h4{font-size:16px}
.icon_box.v16{background:#e24841}
.icon_box.v17{background:#f8d32b}
.icon_box.v18{background:#79dc47}
.icon_box.v19{background:#624bd8}
.icon_box.v20{background:#3295f1}
.icon_box.v21{background:#ff7919}
.icon_box.v22{background:#ff244e}
.tools_editor{background:#fff;border-radius:14px;padding:40px 24px 32px 24px;display:flex;justify-content:space-between;align-items:center;flex-direction:column;height:100%}
.tools_editor_group{max-width:316px}
.tools_editor h3{color:#181d20;font-size:24px;font-weight:700;margin-bottom:8px}
.tools_editor p{font-size:15px}
.tools_editor .button{font-weight:600;font-size:12px;line-height:18px;color:#1a8fe3;box-shadow:none;margin-top:24px}
.tools_editor .button-create{background-color:#f6fbfe;border:1px solid #1a8fe3;border-radius:10px;padding:15px 16px}
.tools_editor .button-upload{padding:0;background-color:transparent;text-decoration:underline;margin-left:16px}
.tools_editor_image{flex-shrink:0;margin-top:20px}
.tools_editor__image .tools_editor_image{filter:blur(2px)}
.tools_editor__image .tools_editor_group{filter:blur(2px)}
@media (min-width:768px){
.tools_editor{flex-direction:row}
.tools_editor_image{width:235px;margin-left:10px}
.tools_editor_image{margin-top:-16px}
.tools_editor__image .tools_editor_image{margin-top:-20px;margin-right:-14px;margin-bottom:-10px}
}
@media (min-width:992px){
.tools_editor_image{width:180px}
}
@media (min-width:1200px){
.tools_editor_image{width:235px}
}
.dark-mode .tools_area{background-color:inherit}
.dark-mode .tools_editor{background-color:#223544}
.dark-mode .tools_editor .button-create{background-color:#404a54;border-color:#50677a;color:#71baee}
.dark-mode .tools_editor .button{box-shadow:none}
.dark-mode .tools_editor h3{color:#fff}
.button-gray{border:1px solid #707375;border-radius:14px;background-color:#fff;color:#707375}
.button-gray:hover{background-color:#f3f7f9;color:#707375}
.file-drop-area .button-gray{position:relative;z-index:5;cursor:pointer}
.file-drop-area_note{font-weight:500;font-size:14px;text-align:center;color:#d0726c}
.modal-browse-templates .modal-dialog{margin:0}
.modal-browse-templates .modal-dialog-centered{align-items:flex-end;min-height:calc(100%)}
.modal-browse-templates .modal-content{border-radius:12px 12px 0 0}
.modal-browse-templates .modal-header{border:none;padding:36px 16px 0;display:block}
.modal-browse-templates .modal-title{color:#181d20;font-weight:700;font-size:16px;margin-bottom:8px}
.modal-browse-templates .modal-header-text{color:#828586;font-size:12px}
.modal-browse-templates .modal-body{padding:8px 16px 0}
@media (min-width:768px){
.modal-browse-templates .modal-dialog-centered{min-height:calc(100% - 3.5rem)}
.modal-browse-templates .modal-title{font-size:24px}
.modal-browse-templates .modal-header-text{font-size:16px}
.modal-browse-templates .modal-header{padding:40px 40px 0}
.modal-browse-templates .modal-body{padding:8px 40px 40px}
.modal-browse-templates .modal-content{border-radius:12px}
.modal-browse-templates .modal-dialog{max-width:610px;margin:1.75rem auto}
.modal-browse-templates .modal-dialog-centered{align-items:center;justify-content:center}
}
@media (min-width:1200px){
.modal-browse-templates .modal-dialog{max-width:1128px}
}
.tools-button{background:#fff;border:1px solid #e3e3e4;border-radius:8px;color:#707375;padding-left:9px;padding-right:9px;padding-top:9px;padding-bottom:8px;margin-left:8px;height:auto;width:auto}
.tools-button:hover{color:#007bff;border-color:#007bff;background:#fff}
.tools-button.dropdown-toggle::after{display:none}
.tools-button--add{color:#57b286;border-color:#57b286}
.tools-button--delete{color:#d0726c;border-color:#d0726c}
.text-settings{position:relative}
.modal-text-settings .modal-dialog{box-shadow:3px 15px 40px rgba(24,29,32,.05);margin-left:0;margin-right:0;margin-bottom:0}
.modal-text-settings .modal-dialog-centered{align-items:flex-end;min-height:calc(100%)}
.modal-text-settings .modal-content{border-radius:16px 16px 0 0;border:none}
.modal-text-settings .modal-header{border:none;padding-bottom:0}
.modal-text-settings .modal-title{font-weight:600;font-size:16px;line-height:24px;color:#181d20}
@media (min-width:768px){
.modal-text-settings{position:absolute;top:0;left:-287px;width:360px;overflow:visible;box-sizing:border-box;min-height:400px}
.modal-open .modal-text-settings{overflow:visible}
.modal-text-settings .modal-header{display:none}
.memes-edit_form .form-control{padding:14px;font-size:14px;height:48px}
.modal-text-settings .modal-dialog{width:100%;margin-top:60px;box-shadow:3px 15px 40px rgba(24,29,32,.05)}
.modal-text-settings .modal-dialog-centered{align-items:flex-start;min-height:auto}
.modal-text-settings .modal-content{border-radius:12px}
.is-show-text-setting{overflow-y:auto;padding-right:0!important}
.is-show-text-setting .modal-backdrop{display:none}
.tools-button{padding-left:13px;padding-right:13px;padding-top:12px;padding-bottom:11px}
}
.memes-edit_tools-form .mcfontpicker{border:1px solid #e3e3e4;border-radius:8px;height:36px}
.memes-edit_tools-form .mcfontpicker:before{content:"";position:absolute;top:14px;right:14px;width:6px;height:6px;border-right:1px solid #707375;border-bottom:1px solid #707375;transform:rotate(45deg);z-index:3}
.memes-edit_tools-form .mcfontpicker__search{height:36px;border:1px solid #e3e3e4;border-radius:8px;font-size:12px;padding:9px;padding-right:30px;color:#707375;font-family:inherit;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.memes-edit_tools-form .mcfontpicker__search:focus{outline:0;box-shadow:0 0 0 .2rem rgb(0 123 255 / 25%)}
.memes-edit_tools-form label{font-weight:500;font-size:12px;color:#707375;display:block;margin-bottom:12px}
.memes-edit_tools-form .form-control{height:36px;border-color:#e3e3e4;border-radius:8px;font-size:12px;padding:9px}
.memes-edit_tools-form .memes-edit_tools{margin-left:0}
.memes-edit_tools{margin-left:-10px;display:flex}
.memes-edit_tools-form .memes-edit_tools{margin-left:0}
.memes-edit_tools-form .tools-button{border-color:transparent;padding:6px;margin-left:1px}
.memes-edit_tools-form .tools-button.is-active,.memes-edit_tools-form .tools-button:hover{border-color:#1a8fe3;color:#1a8fe3;background-color:#f6fbfe}
.memes-edit_tools-form .memes-edit_button{padding-top:8px;padding-bottom:8px;padding-left:10px;padding-right:10px;font-size:12px;min-width:inherit;display:block;font-weight:500;height:40px}
.before-after_note{max-width:280px}
.before-after_comparison{max-width:806px;margin-left:auto;margin-right:auto}
.before-after_comparison img{border-radius:10px}
.before-after_comparison .ba-slider{overflow:visible}
.before-after_comparison .handle{width:1px;margin-left:-.5px;background:#e3e3e4;height:100%;transform:none;border:none}
.before-after_comparison .handle::after{content:"";background-image:url(/v2/img/handle-before-after.svg);background-repeat:no-repeat;background-size:80% auto;background-position:50%;width:40px;height:40px;margin:-20px 0 0 -20px;background-color:#fff;border:none;box-shadow:3px 15px 40px rgba(24,29,32,.05)}
.before-after_tool{margin-top:32px}
.before-after_item{flex-grow:1;padding:16px;background:#fff;box-shadow:3px 15px 40px rgba(24,29,32,.05);border-radius:12px;box-sizing:border-box;margin-bottom:24px}
.before-after_item-header{margin-bottom:16px;text-align:left}
.before-after_item-title{font-weight:600;font-size:16px;line-height:130%;color:#57b286}
.before-after_item--before .before-after_item-title{color:#d0726c}
.before-after_item-note{margin-top:8px;font-size:12px}
.before-after_item-patterns{box-shadow:3px 15px 40px rgba(24,29,32,.05);background-color:#fff;border-radius:12px;padding:11px;box-sizing:border-box;max-width:414px;display:flex;flex-wrap:wrap}
.before-after_item-patterns img{border-radius:100%;margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px;width:60px}
.before-after_advantage{display:flex;align-items:center;box-shadow:3px 15px 40px rgba(24,29,32,.05);border-radius:12px;padding:10px;margin-top:16px;background-color:#fff}
.before-after_advantage img{border-radius:100%;flex-shrink:0;width:32px;height:32px}
.before-after_advantage span{margin-left:8px;font-weight:500;font-size:12px;color:#181d20}
.dark-mode .before-after_item{background-color:#223544}
.dark-mode .before-after_advantage,.dark-mode .before-after_item-patterns{background-color:#1f2a33}
.dark-mode .before-after_advantage span{color:#efefef}
@media (min-width:768px){
.before-after{text-align:center}
.before-after_note{max-width:400px;margin-left:auto;margin-right:auto}
.before-after_comparison img{border-radius:12px}
.before-after_comparison .handle::after{width:56px;height:56px;margin:-28px 0 0 -28px}
.before-after_tool{display:flex;justify-content:center}
.before-after_item{flex-grow:1;margin-left:12px;margin-right:12px;max-width:545px;margin-bottom:0}
.before-after_item--before{max-width:376px}
.before-after_tool{margin-top:40px}
.before-after_item{padding:24px}
.before-after_item-header{margin-bottom:24px}
.before-after_item-title{font-size:20px}
.before-after_item-note{font-size:16px}
.before-after_item-patterns{padding:5px}
.before-after_advantage{margin-top:24px;padding:16px}
.before-after_advantage img{width:48px;height:48px}
.before-after_advantage span{margin-left:10px;font-size:16px}
}
@media (min-width:992px){
.before-after_item-group{display:flex;justify-content:space-between}
.before-after_advantage{margin-left:24px}
.before-after_advantage:first-child{margin-left:0}
.before-after_item-patterns img{width:88px}
.before-after_item-title{font-size:24px}
}
.get-update{background:#1a8fe3;border-radius:14px;padding:42px 32px;color:#fff;height:100%}
.get-update h3{color:white;font-weight:700;font-size:24px}
.get-update p{margin-top:12px;}
.home_area{text-align:center;padding:40px 0 80px}
.home_content{margin-left:auto;margin-right:auto}
.title{font-size:32px}
.pt_150{padding-top:80px}
.pb_150{padding-bottom:80px}
.pt_120{padding-top:80px}
.pb_120{padding-bottom:80px}
.mt_100{margin-top:60px}
.mt_md_0{margin-top:0}
.row_menu{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-10px;margin-right:-10px}
.row_menu li{max-width:50%;-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;padding-left:10px;padding-right:10px}
.footer_bottom p img{max-width:74px;margin-right:12px}
.footer_bottom{font-size:12px}
.pt_md_10{padding-top:10px}
.title_md{font-size:26px}
.mobile_menu{position:fixed;top:0;left:-100%;z-index:1019;height:100%;width:100%;background-color:#fff;overflow:auto;-webkit-transition:.4s;-o-transition:.4s;transition:.4s}
.mobile_menu.current{left:0}
{padding-top:80px;padding-bottom:40px}
.mobile_menu .menu2{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin-top:40px}
.mobile_menu .menu2>li{padding:0;width:100%}
.mobile_menu .menu2>li>a{padding:0;background-color:#eff7fd;padding:17px 16px;display:-webkit-box;display:-ms-flexbox;display:flex;border-bottom:1px solid #efefef}
.mobile_menu .menu2>li:first-child>a{border-radius:10px 10px 0 0}
.mobile_menu .menu2>li:last-child>a{border-radius:0 0 10px 10px;border-bottom:none}
.mobile_menu li a{position:relative;padding:17px 16px}
.mobile_menu li a::after{position:absolute;right:16px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.menu2>li>ul{position:relative;width:100%;-webkit-box-shadow:none;box-shadow:none;opacity:1;visibility:visible;padding:0;background-color:#f4f9fd;border-radius:0}
.multilavel>ul{top:0;left:0;position:relative;-webkit-box-shadow:none;box-shadow:none;border-radius:0;padding:0;background-color:#fafbfb;width:100%;visibility:visible;opacity:1;display:none;-webkit-transition:unset;-o-transition:unset;transition:unset}
.menu2>li>ul>li{padding:0}
.multilavel>ul>li{padding:0}
.mobile_menu .search_group input{-webkit-box-shadow:0 5px 10px rgba(116,116,116,.1);box-shadow:0 5px 10px rgba(116,116,116,.1)}
.title_lg{font-size:32px}
.bottom_menu{flex-direction:column}
.menu_wrap{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}
.menu_wrap::-webkit-scrollbar{height:0;width:0}
.menu_wrap>ul{min-width:500px;width:100%}
.pdf_content{padding-left:48px;padding-top:24px;padding-right:calc((100% - 720px)/ 2 + 15px)}
.range_wrapper{justify-content:space-between!important;padding:12px 15px;max-width:720px;margin-left:auto;margin-right:auto}
.range_left_content{display:flex;align-items:center}
.range_left_content .pager{margin-left:16px}
.range_left_content .pager h4{padding-right:24px}
.range_right_content{display:flex;align-items:center;width:100%;justify-content:flex-end}
.sidebar{top:0;height:100%;left:-100%;z-index:1024}
.sidebar.current{left:0}
.pdf_content.lg_content{padding-left:48px}
.overlay{position:fixed;left:0;top:0;height:100%;width:100%;z-index:1023;background-color:rgba(24,29,32,.4);-webkit-transition:.4s;-o-transition:.4s;transition:.4s;pointer-events:none;opacity:0}
.overlay.current{opacity:1;pointer-events:all}
#switch .modal-dialog{max-width:616px}
.toggle_btn img{transform:rotate(180deg)}
.sidebar.small_width{width:258px;overflow:auto}
.sidebar.small_width .pager,.sidebar.small_width ul{display:flex!important}
.sidebar.small_width .add_wrap{display:block!important}
.color_img img{height:120px;width:120px}
}
@media (max-width:767.98px){
.footer_bottom{text-align:center}
.title_lg{font-size:26px}
.rating_box{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.star-rating{padding-left:0}
.menu_wrap{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}
.mobile_menu_wrapper{position:fixed;bottom:0;left:0;z-index:5;width:100%;background-color:#fff}
.range_left_content .pager{display:none!important}
.range_wrapper{max-width:540px;margin-left:auto;margin-right:auto}
.range_right_content .slider-box{display:none!important}
.pdf_mb{white-space:nowrap;padding-left:16px}
.pdf_content{padding-left:15px;padding-right:15px;margin-left:auto;margin-right:auto;padding-bottom:90px}
.pdf_content.lg_content{padding-left:15px}
#switch .modal-dialog{max-width:327px}
#switch .modal-body{padding:24px}
#signature .modal-content .modal-body h4,#switch .modal-content .modal-body h4{font-size:18px}
.modal_sub{font-size:12px}
.switch_radio_box{margin-top:16px}
.switch_btn p{font-size:10px;margin-top:24px;max-width:197px;margin-left:auto;margin-right:auto}
.switch_btn button{font-size:12px;padding:11px;margin-top:16px}
.color_img img{height:88px;width:88px}
.menu_wrap .dropdown-toggle::after{display:none}
}
@media (max-width:575.98px){
.bottom_menu{padding-right:0}
.home_area h1{font-size:26px;line-height:130%}
.home_area p{font-size:13px;margin-top:12px}
.search_group input{font-size:12px;height:50px}
.search_group{margin-top:24px}
.search_group .button{font-size:12px;padding:7px 24px}
.tag_box a{padding:5px 10px;font-size:10px;margin-left:2px}
body{font-size:14px}
.title{font-size:26px}
.sub_title{font-size:12px}
br{display:none}
.price_box{padding:24px}
.price_box ul li{font-size:16px}
.button{font-size:14px}
.price_box h4{font-size:20px}
.price_box h3{font-size:26px}
.footer_bottom p img{max-width:70px;margin-right:5px}
.footer_bottom{font-size:10px;margin-top:25px}
footer{font-size:12px}
footer h4{font-size:14px}
.title_md{font-size:20px}
.tools_area.v2 .tools_box{padding:24px}
.tools_area.v2 .tools_box p{font-size:14px}
.tools_area.v2 .icon_box{width:56px;height:56px;padding:12px}
.pdf_mb{font-size:14px}
.serach_img{margin-right:0}
.serach_img img{max-width:14px}
.button.outline_btn{font-size:10px;padding:7px 10px}
.top_header .button{font-size:10px;padding:7px 10px}
.top_header .dropdown-toggle{width:30px;height:30px}
.switch-mode{width:13px;height:13px}
.logo_con img{max-width:123px}
.color_img{flex-basis:33.33%;max-width:33.33%}
.color_wrapper{padding-top:20px;padding-bottom:50px}
}
.menu2 li a svg{width:20px;height:20px;margin-right:8px;flex-shrink:0}
.drop_menu a svg,.menu2 li a svg{color:#1a8fe3}
.drop_menu a:hover svg,.menu2 li a:hover svg{color:var(--blue)}
.video-js button.vjs-big-play-button{top:calc(50% - 25px);left:calc(50% - 45px)}
.icon_box.v1{color:#e24841}
.icon_box.v2{color:#e2c740}
.icon_box.v3{color:#ff7919}
.icon_box.v4{color:#10d0d5}
.icon_box.v5{color:#624bd8}
.icon_box.v6{color:#3d99f5}
.icon_box.v7{color:#79dc47}
.icon_box.v8{color:#ff5975}
.no-border{border:0;box-shadow:none}
.files_name,.files_tree .files_name{display:flex;flex-shrink:1;width:auto;padding-right:16px;margin-right:10px}
.background-chess{background-image:linear-gradient(45deg,grey 25%,transparent 25%),linear-gradient(-45deg,grey 25%,transparent 25%),linear-gradient(45deg,transparent 75%,grey 75%),linear-gradient(-45deg,transparent 75%,grey 75%);background-size:20px 20px;background-position:0 0,0 10px,10px -10px,-10px 0}
@media (min-width:992px) and (max-width:1199.98px){
.menu2 li a svg{width:15px;height:15px;margin-right:5px}
}
form .is-invalid{border-color:#a52219}
.uploader-container{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;max-width:100%;-webkit-transition:.2s;-o-transition:.2s;transition:.2s;border-radius:12px;padding:2rem;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-top:4.5rem;min-height:366px;background:#fff;border:1px solid #efefef}
.compress-result{background:0 0;border:none;padding:0}
.component--wrapper,.component-sended--wrapper,.file-uploader--wrapper{width:100%}
.component--wrapper .card-footer{background-color:unset}
.file-drop-area{margin-top:unset;border:none;border-radius:unset}
.extra-large-modal .modal-dialog{max-width:90%}
.extra-large-modal .modal-dialog img{max-width:95%}
.centered-modal .modal-body{text-align:center}
.extra-large-modal.page-width-pdf .modal-dialog{max-width:1080px}
div[class^=text-tr-transform__s]{display:none}
.text-tr-transform--active,.tr-transform--active{position:absolute;z-index:5}
.text-tr-transform__content{max-width:700px}
.text-tr-transform__content,.tr-transform__content{user-select:none}
.text-tr-transform__content input,.tr-transform__content input{width:100%;height:50px;font-size:24px;background-color:rgba(0,0,0,.2);border:none;font-family:Dancing Script,Source Sans Pro,Helvetica,Arial,sans-serif}
.tr-transform__content img{width:100%!important;background-color:rgba(0,0,0,.2)}
.tr-transform__content div.full-transform-block{width:100%;height:100%;background-color:rgba(0,0,0,.2);border:none;color:#000;line-height:1.2}
.text-tr-transform__rotator,.tr-transform__rotator{top:-45px;left:calc(50% - 7px)}
.text-tr-transform__rotator,.tr-transform__rotator{background:unset!important;border:unset!important}
.text-tr-transform__rotator,.text-tr-transform__scale-point,.tr-transform__rotator,.tr-transform__scale-point{background:#fff;width:15px;height:15px;border-radius:50%;position:absolute;box-shadow:0 2px 4px 0 rgba(0,0,0,.1);border:1px solid rgba(0,0,0,.1);cursor:pointer}
.text-tr-transform__rotator:hover,.text-tr-transform__scale-point:hover,.tr-transform__rotator:hover,.tr-transform__scale-point:hover{background:#f1f5f8}
.text-tr-transform__rotator:active,.text-tr-transform__scale-point:active,.tr-transform__rotator:active,.tr-transform__scale-point:active{background:#dae1e7}
.text-tr-transform__scale-point--tl,.tr-transform__scale-point--tl{top:-7px;left:-7px}
.text-tr-transform__scale-point--ml,.tr-transform__scale-point--ml{top:calc(50% - 7px);left:-7px}
.text-tr-transform__scale-point--tr,.tr-transform__scale-point--tr{left:calc(100% - 7px);top:-7px}
.text-tr-transform__scale-point--tm,.tr-transform__scale-point--tm{left:calc(50% - 7px);top:-7px}
.text-tr-transform__scale-point--mr,.tr-transform__scale-point--mr{left:calc(100% - 7px);top:calc(50% - 7px)}
.text-tr-transform__scale-point--bl,.tr-transform__scale-point--bl{left:-7px;top:calc(100% - 7px)}
.text-tr-transform__scale-point--bm,.tr-transform__scale-point--bm{left:calc(50% - 7px);top:calc(100% - 7px)}
.text-tr-transform__scale-point--br,.tr-transform__scale-point--br{left:calc(100% - 7px);top:calc(100% - 7px)}
.del-icon-block{opacity:1;position:absolute;top:-3px;left:-6px;cursor:pointer;z-index:5}
.del-icon-block_item,.del-icon-block_item svg,.del-icon-block_item svg path,.del-icon-block_wrapper{z-index:4}
.del-icon-block .del-icon-block_wrapper{border-radius:50%;color:#fff;background-color:#262626;height:24px;width:24px;padding:6px;line-height:0;-webkit-box-sizing:border-box;box-sizing:border-box}
.del-icon-block .del-icon-block_item{overflow:hidden;width:100%;height:100%}
.video-player-box .video-js{margin:0 auto}
.compress_area{min-height:830px}
.btn-primary{background-color:#1a8fe3;border-radius:10px}
.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled):active{background-color:#126daf;color:#fff}
.show>.btn-primary.dropdown-toggle{background-color:#126daf;color:#fff}
.btn-outline-primary{color:#71baee;border:1px solid #83c2f0;border-radius:10px}
.btn-outline-primary:hover,.btn-outline-primary:not(:disabled):not(.disabled):active{background-color:#71baee;border-color:#71baee;color:#fff}
.show>.btn-outline-primary.dropdown-toggle{background-color:#71baee;border-color:#71baee;color:#fff}
.sign-image-upload:not(.dropdown-toggle){font-weight:600;font-size:12px;line-height:1.3;padding:12px 24px}
.b-form-spinbutton{text-align:center;overflow:hidden;background-image:none;padding:0}
.b-form-spinbutton[dir=rtl]:not(.flex-column),[dir=rtl] .b-form-spinbutton:not(.flex-column){flex-direction:row-reverse}
.b-form-spinbutton output{font-size:inherit;outline:0;border:0;background-color:transparent;width:auto;margin:0;padding:0 .25rem}
.b-form-spinbutton output>bdi,.b-form-spinbutton output>div{display:block;min-width:2.25em;height:1.5em}
.b-form-spinbutton.flex-column{height:auto;width:auto}
.b-form-spinbutton.flex-column output{margin:0 .25rem;padding:.25rem 0}
.b-form-spinbutton:not(.d-inline-flex):not(.flex-column){output-width:100%}
.b-form-spinbutton.d-inline-flex:not(.flex-column){width:auto}
.b-form-spinbutton .btn{line-height:1;box-shadow:none!important}
.b-form-spinbutton .btn:disabled{pointer-events:none}
.b-form-spinbutton .btn:hover:not(:disabled)>div>.b-icon{transform:scale(1.25)}
.b-form-spinbutton.disabled,.b-form-spinbutton.readonly{background-color:#e9ecef}
.b-form-spinbutton.disabled{pointer-events:none}
.element-tools a{color:#707375}
label[for=file]{cursor:pointer}
.cancel-btn_tool{margin-top:50px}
.compress_area{min-height:730px}
.uploader-container{margin-top:2.5rem}
img.w-100{height:auto}
.home_area{padding:unset}
.pt_150-imp{padding-top:150px!important}
.rating_box{min-height:57px}
.form-control.default-background[readonly]{background-color:#fff}
@media (max-width:767.98px){
.rating_box{min-height:88px}
}
[contenteditable]:focus{outline:0 solid transparent}
.table-block{display:table}
.table-block .table-element{display:table-cell}
.files_group .files_item+.files_item{margin-top:10px}
.font-control .font-picker .dropdown-button{padding:.5rem 1rem;font-size:1.25rem;line-height:1.5;border-radius:.3rem;height:55px}
.upload-block_tool{padding-top:50px;width:100%;padding-bottom:20px}
.flex-block-paginated{align-content:flex-start;justify-content:space-between;display:flex}
.flex-block-paginated .flex-block-paginated_element{min-width:100px;max-width:200px;height:200px;font-size:8px}
.free-line-wrapper{background:#e9e9e9;padding:10px 0;font-size:14px;line-height:20px;font-family:Poppins;font-style:normal;font-weight:400}
.free-line-wrapper span{color:#707375}
.dark-mode .tools_area{background:#1f2a33 url(/v2/img/wave.svg) 0 20% no-repeat!important;background-size:100% auto!important}
.dark-mode .uploader-container{background-color:#223544;border-color:#707375}
.dark-mode .b-form-spinbutton{background-color:#223544;border-color:#707375;color:#fff}
.dark-mode .b-form-spinbutton svg{color:#fff}
.dark-mode .ace-chrome,.dark-mode .images-preview .item:hover,.dark-mode .images-preview .item:hover .buttons,.dark-mode .pdf-preview .item:hover,.dark-mode input,.dark-mode select{background-color:#1f2a33!important;color:#efefef!important;border-color:#707375!important}
.dark-mode .free-line-wrapper{background:#223544}
.dark-mode .free-line-wrapper span{color:#fff}
.dark-mode .vacp-color-picker{background:#1a252f}
.dark-mode .color_main_wrapper{background-color:#223544}
.dark-mode .color_heading h4{color:#fff}
.main-link{cursor:pointer}
.upload-block-flex{display:flex;justify-content:space-between}
.custom-control.custom-control__w-l{padding-left:unset;margin-left:unset}
.modal-backdrop:not(.show):not(.fade){opacity:.5}
@media (max-width:768px){
.images-preview .item,.images-preview .item.col-3{flex:unset;max-width:100%}
.btn-lg.btn-lg-responsive{font-size:1rem}
.m-xsm-2{margin:.5rem!important}
}
.p-u{padding:unset}
.m-u{margin:unset}
.checkered{background:-webkit-linear-gradient(45deg,rgba(0,0,0,.0980392) 25%,transparent 25%,transparent 75%,rgba(0,0,0,.0980392) 75%,rgba(0,0,0,.0980392) 0),-webkit-linear-gradient(45deg,rgba(0,0,0,.0980392) 25%,transparent 25%,transparent 75%,rgba(0,0,0,.0980392) 75%,rgba(0,0,0,.0980392) 0),#fff;background:-moz-linear-gradient(45deg,rgba(0,0,0,.0980392) 25%,transparent 25%,transparent 75%,rgba(0,0,0,.0980392) 75%,rgba(0,0,0,.0980392) 0),-moz-linear-gradient(45deg,rgba(0,0,0,.0980392) 25%,transparent 25%,transparent 75%,rgba(0,0,0,.0980392) 75%,rgba(0,0,0,.0980392) 0),#fff;background:linear-gradient(45deg,rgba(0,0,0,.0980392) 25%,transparent 25%,transparent 75%,rgba(0,0,0,.0980392) 75%,rgba(0,0,0,.0980392) 0),linear-gradient(45deg,rgba(0,0,0,.0980392) 25%,transparent 25%,transparent 75%,rgba(0,0,0,.0980392) 75%,rgba(0,0,0,.0980392) 0),#fff;background-repeat:repeat,repeat;background-position:0 0,10px 10px;-webkit-transform-origin:0 0 0;transform-origin:0 0 0;-webkit-background-origin:padding-box,padding-box;background-origin:padding-box,padding-box;-webkit-background-clip:border-box,border-box;background-clip:border-box,border-box;-webkit-background-size:20px 20px,20px 20px;background-size:20px 20px,20px 20px;-webkit-box-shadow:none;box-shadow:none;text-shadow:none;-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;-webkit-transform:scaleX(1) scaleY(1) scaleZ(1);transform:scaleX(1) scaleY(1) scaleZ(1)}
.js-pdf-editor__fullscreen{overflow:hidden}
.convert_wrapper .dropdown-menu{z-index:1040}
.bgc-transparent{background-color:transparent!important;position:absolute!important;top:-100000px!important;display:flex!important;align-items:center!important;justify-content:center!important}
.pointer-disable{pointer-events:none}
#file{display:none}
.f-s-1{font-size:1em}
.image-block__small{max-width:400px}
.modal-fullscreen .modal-body{padding:unset;display:flex;align-items:center;justify-content:center}
.modal-fullscreen .modal-content{height:100%;overflow:auto}
.modal-fullscreen .modal-dialog{max-width:100%;margin:0;top:0;bottom:0;left:0;right:0;height:100vh;display:flex;position:fixed;z-index:100000}
.modal-fullscreen.no-scroll .modal-content{overflow:hidden}
@media (max-width:768px){
.text-md-center{text-align:center}
}
.tools-button img{background:#fff;color:#707375}
.tools-button img:hover{color:#007bff;border-color:#007bff;background:#fff}
.tools-button--add img{color:#57b286;border-color:#57b286}
.tools-button--delete img{color:#d0726c;border-color:#d0726c}
@media (min-width:768px){
.modal-text-settings{top:60px}
.modal-text-settings .modal-dialog{margin-top:unset}
}
.meta-info-column{max-height:400px;overflow-y:auto}
